.jumbotron {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 63px;
    position: relative;

    @media (min-width: 361px) and (max-width: 1223px) {
        justify-content: center;
        align-items: center;
        margin: 24px auto;
    }

    &.img-right {
        max-width: 1220px;
        margin: 0 auto;
        gap: 25px;
        padding: 32px 16px;

        @media (max-width: 1100px) {
            gap: 0px;
            max-width: 360px;
            display: flex;
            flex-direction: column;
            flex-direction: column-reverse;
        }

        img {
            border-radius: 16px;

            @media (max-width: 1100px) {
                border-radius: 8px;
                max-width: 360px;
            }
        }

        .valign-wrapper__content {

            @media (max-width: 1100px) {
                padding: 16px 0px;

            }
            .valign-wrapper__title, h2, h3 {
                font-family: $font-family-roboto-regular;
                font-size: 28px;
                font-weight: 300;
                line-height: 36px;
                color: #052C50;

                @media (max-width: 1100px) {
                    font-size: 22px;
                    line-height: 30px;
                    max-width: 340px;
                    margin-bottom: 15px;
                }
            }

            .valign-wrapper__text {
                font-family: $font-family-roboto-regular;
                color: #4A4A68;
                font-size: 14px;
                font-weight: 400;
                line-height: 22px;
                margin-bottom: 24px;

                @media (max-width: 1100px) {
                    margin-top: 0px;
                }
            }
            >a {
                font-family: $font-family-roboto-regular;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 16px;
                line-height: 24px;
                border: 1px solid #0076C7;
                border-radius: 4px;
                height: 40px;
                background-color: #0076C7;

                @media (max-width:1100px){
                    width: 320px;
                }

                @media (min-width:1101px){
                    width: 224px;
                }

                p {
                    color: #FFFFFF;
                    margin: 0;
                }
    
                &:hover {
                    filter: brightness(90%);
                }
            }
        }
    }

    &.background {
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        height: 343px;
        padding: 0px 20px;

        @media (min-width: 361px) and (max-width: 1023px) {
            justify-content: center;
            align-items: center;
            margin: 0px auto;
            max-width: 360px;
        }

        @media (min-width: 1024px) and (max-width: 1299px) {
            max-width: 1220px;
            margin: auto;
        }

        > .background-img {
            width: 100%;
            position: absolute;
            height: 100%;

            @media (min-width: 361px) and (max-width: 1023px) {
                justify-content: center;
                align-items: center;
                margin: 0px auto;
                max-width: 360px;
            }

            .image-container {
                margin: 0 8px;

                @include isDesktop {
                    display: flex;
                    justify-content: center;
                }
            }

            img {
                border-radius: 16px;
                max-width: 1330px;

                @media (min-width: 1024px) and (max-width: 1110px) {
                    max-width: 1015px;
                    margin: auto;
                }

                @media (min-width: 1111px) and (max-width: 1200px) {
                    max-width: 1110px;
                    margin: auto;
                }

                @media (min-width: 1201px) {
                    max-width: 1220px;
                    margin: auto;
                }
            }
        }

        > .background-wrapper {
            z-index: 1;
            gap: 0;

            @include isTabletAndDown {
                margin: 0;
                height: 100%;
                flex-direction: column;
                justify-content: space-between;

                .container404__links {
                    display: none;
                }
            }

            > .valign-wrapper__content {
                position: relative;
                height: 100%;
                display: flex;
                flex-direction: column;
                gap: 4px;
                max-width: 595px;

                @include isTabletAndDown {
                    font-family: $font-family-roboto-regular;
                    font-size: 20px;
                    line-height: 28px;
                    margin-top: 10px;
                    transform: none;
                }

                @media (min-width: 1024px) and (max-width: 1220px) {
                    transform: translate(232px, 20px);
                }

                @media (min-width: 1221px) {
                    transform: translate(250px, 30px);
                }

                > .valign-wrapper__leadtitle {
                    top: 0;
                    font-family: $font-family-roboto-regular;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    color: #F5F5F5;

                    @include isTabletAndDown {
                        top: 8px;
                    }
                }

                > .valign-wrapper__title, h3 {
                    color: #F5F5F5;
                    font-family: $font-family-roboto-regular;
                    font-size: 28px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 28px;
                    margin-top: 5px;
                    margin-bottom: 5px;

                    @include isTabletAndDown {
                        font-size: 20px;
                        line-height: 28px;
                        max-width: 206px;
                    }
                }

                .valign-wrapper__text {
                    font-family: $font-family-roboto-regular;
                    color: #F5F5F5;
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 22px;
                    margin-right: 0px;
                    margin-bottom: 12px;

                    @include isTabletAndDown {
                        margin-right: -8px;
                    }
                }

                >a {
                    font-family: $font-family-roboto-regular;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 16px;
                    line-height: 24px;
                    border: 1px solid #FFF6F6;
                    border-radius: 4px;
                    width: 165px;
                    height: 48px;
                    background-color: #FFF6F6;
        
                    @include isTabletAndDown {
                        text-align: center;
                        width: 80px;
                        height: 40px;
                        font-size: 14px;
                        line-height: 22px;
                        margin-top: 70px;
                    }

                    &:hover {
                        filter: brightness(90%);
                    }
                    
                    p {
                        color: #015FB2;
                        margin: 0;
                    }
                }
            }
        }
    }

    .jumbotron404 {
        height: 677px;
        border-radius: 0px;
        margin-bottom: 0px;

        .valign-wrapper {
            justify-content: flex-start;

            .valign-wrapper__title {
                color: #0E0E2C;
                font-family: 'Pulso-Light';
                font-style: normal;
                font-size: 48px;
                line-height: 56px;
                width: 596px;
                height: 112px;

                @include isTabletAndDown {
                    font-family: $font-family-roboto-regular;
                    width: 100%;
                    font-size: 32px;
                    line-height: 40px;
                    font-weight: 300;
                }
            }

            > a {
                font-family: $font-family-roboto-regular;
                text-align: center;
                font-size: 16px;
                line-height: 24px;
                color: $text-link;
                border: 1px solid #153163;
                padding: 0.5rem 1rem;
                border-radius: 4px;
                width: 201px;
                height: 44px;
                background-color: #153163;

                &:hover {
                    filter: brightness(90%);
                }

                @include isTabletAndDown {
                    text-align: center;
                    background-color: #001036;
                    width: 214px;
                }
            }
        }
    }
}
