@import "../../../styles/scss/colors.scss";
@import "../../../styles/scss/variables.scss";

.banner_container {
  width: 100%;
  margin: 0 auto;

  @media (min-width:766px) and (max-width: 992px){
    margin-top: -1.8%;
  }

  .banner-content {
    color: white;
    text-align: left;
    

    @media (min-width: 993px) {
      display: flex;
      height: 250px;
      padding: 32px 110px;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

        .leadTitle > * {
          font-family: $font-family-roboto-regular;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          text-transform: uppercase;
        }
  
        .downloadTitle > * {
          font-family: $font-family-pulso-regular;
          font-size: 48px;
          font-style: normal;
          font-weight: 400;
          line-height: 56px;
          margin: 16px 0;
        }
  
        .downloadText > * {
          font-family: $font-family-roboto-light;
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: 30px;
          margin-top: -15px;
        }
      }

      @media (max-width: 992px) {
        text-align: left;
        display: flex;
        height: 249px;
        padding: 32px 16px;
        flex-direction: column;
        justify-content: center;
        
        .leadTitle > * {
          font-family: $font-family-roboto-regular;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 16px;
        }
    
        .downloadTitle > * {
          padding: 4px 0px 4px;
          font-family: $font-family-pulso-regular;
          font-size: 32px;
          font-style: normal;
          font-weight: 400;
          line-height: 40px;
        }
    
        .downloadText > * {
          font-family: $font-family-roboto-light;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 28px;

        } 
      }
      @media (min-width: 994px) and (max-width: 1365px) {
        padding-left: 36px;
      }

      @media (min-width: 1514px) {
        padding-left:calc(10%)  ;
      }

    }
    @media (min-width: 993px) and (max-width: 1275px) {
    .downloadText > * {
        padding-right: 16%;
    }
}
}
