.title__content {  
  font-style: normal;
  font-weight: normal;
  margin: 56px 0 56px;
  text-align: center;
  &-overline{
    font-family: $font-family-roboto-light;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: $text-heading;
    margin-bottom: 8px;
    @include isMobile {
      font-size: 12px;
      line-height: 16px;
    }
  }
	&-title {
    font-family: $font-family-roboto-regular;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    margin-top: -8px;
    color: $text-heading;

    @include isMobile {
      font-size: 24px;
      line-height: 30px;
			margin-bottom: 0px;
      text-align: start;
    }
  }

  &-subtitle {
    font-family: $font-family-roboto-regular;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    margin-top: 16px;
    color: $text-body;

    @include isMobile {
      font-size: 16px;
      line-height: 22px;
      text-align: start;
      margin-top: 8px;
    }
  }

	@include isMobile {
		margin: 40px 0 40px;
		padding: 0 8px;
    justify-content: flex-start;
	}
}