.html-content {
  @include isTabletAndUp() {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
  }

  @include isMobile {
    h1,
    .capital-cable {
      align-items: start !important;
      text-align: start;
      width: 331px;
      margin-left: 16px;
    }

    h2,
    .sucursales {
      text-align: center;
      align-items: center;
      width: 349px;
      padding: 4px;
      margin-left: 9px;
    }
  }

  h1,
  h2 {
    margin: 40px 0 0px;
    font-family: $font-family-pulso-regular;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: -10px;
    color: #0e0e2c;

    @include isMobile {
      width: 331px;
      margin: 25px 10px -6px 16px;
    }
  }

  p {
    width: 620px;
    height: 48px;
    font-size: 18px;
    font-family: $font-family-roboto-regular;
    line-height: 24px;
    color: #4a4a68;
    margin-top: 5rem;
  }
}
