$secondary-enabled-color: #001036;
$secondary-highlights: #5b51e9;

$primary: #ff5400;

$font-light: #ffffff;
$font-grey-text: #767676;
$font-grey: #778;

$font-dark: #000;

$border-light: #fff;
$border-grey-light: #dbdae3;
$border-grey: #444444;

$background-light: #fff;
$background-grey-light: #eee;
$background-grey: #a7a7a7;
$background-grey-dark: #363636;
$background-dark: #151515;
$background-dark-absolute: #000;

$success: #69af00;

$primary-hover: rgba(34, 83, 128, 0.04);
$primary-active: #0081b7;

$infrastructure-interfaz-dark: #121212;
$secondary-disabled: #cccccc;

// Foundations - https://www.figma.com/file/7HTsnQBBrvnLbwHXKIAsJn/Foundations?node-id=2439%3A334
// Para utilizar la variante dark, agregar '-dm' al final de la variable. Referir al archivo colors-dark.scss

// Brands
$brand-primary: #00b0ea;
$brand-personal: #00b7ff;
$brand-flow: #57dfb7;

// Secondary Personal
$secondary-personal-enable: #0081b7;
$secondary-personal-enable: #001036;
$secondary-personal-hovered: #225380;
$secondary-personal-pressed: #00356a;
$secondary-personal-disabled: #cccccc;
$secondary-personal-highlights: #5b51e9;

// Secondary Flow
$secondary-flow-enable: #57dfb7;
$secondary-flow-hovered: #2fc191;
$secondary-flow-pressed: #478b77;
$text-flow-enable: #0c7dbb;
$text-flow-hovered: #0c7dbb;

// Alerts
$alert-success: #169f4e;
$alert-error: #cc3333;
$alert-warning: #eaad13;

// Infrastructure
$infrastructure-interfaz: #fafafa;
$infrastructure-background-1: #eeeeee;
$infrastructure-background-2: #e0e0e0;
$infrastructure-background-3: #f6f6f6;
$infrastructure-interfaz-alt: #f5f5f5;
$infrastructure-borders: #e3e5eb;
$infrastructure-hint-text: #8c8ca1;
$infrastructure-body: #4a4a68;
$infrastructure-headings: #0e0e2c;
$infrastructure-disabled: #979797;
$infrastructure-text-link: #0c7dbb;

// Gradient
$gradient-personal-flow: linear-gradient(
  90deg,
  #00b0ea 8.19%,
  #33c5c9 54.36%,
  #21dbb3 99.83%
);
$gradient-enabled: linear-gradient(
  90.03deg,
  #199ae0 0.03%,
  #0d8dc2 50.25%,
  #007fa3 99.99%
);
$gradient-hovered: radial-gradient(
  48.58% 249.1% at 51.42% 50%,
  #00b7eb 0%,
  #00afe0 27.51%,
  #00a5d3 40.28%,
  #009cc8 57.49%,
  #008fb7 75.06%,
  #0080a3 100%
);
$gradient-phone: var(
  --interactive-background-primary-active,
  linear-gradient(91deg, #199ae0 0%, #0d8dc2 50.24%, #007fa3 100%)
);
// Overlay
$overlay-data-succes: rgba(25, 154, 224, 0.04);
$overlay-hovered: rgba(21, 49, 99, 0.039);

// Secondary
$states-hovered: #153163;
$overlay-pressed: rgba(62, 81, 126, 0.102);

// Secondary
$states-hovered: #153163;
$secondary-highlight: #5a50f9;
$states-pressed: rgb(62, 81, 126);

// Text
$text-link: #0d72ab;
$text-heading: #0e0e2c;
$text-body: #4a4a68;

// Btn
$btn-enabled: #001036;
$btn-hovered: #153163;
$btn-pressed: #3e517e;
$btn-disabled: #cccccc;

// WhatsApp Button
$whatsapp: #25d366;

$text-card-content: #015fb2;
