@font-face {
  font-display: swap;
  font-family: 'Roboto-Regular';
  src:
    local('Roboto-Regular'),
    url('/donde-comprar-chip-app/fonts/roboto/roboto-regular-webfont.ttf')
      format('truetype'),
    url('/donde-comprar-chip-app/fonts/roboto/roboto-regular-webfont.woff')
      format('woff'),
    url('/donde-comprar-chip-app/fonts/roboto/roboto-regular-webfont.svg')
      format('svg');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto-Italic';
  src:
    local('Roboto-Italic'),
    url('/donde-comprar-chip-app/fonts/roboto/Roboto-Italic.ttf')
      format('truetype'),
    url('/donde-comprar-chip-app/fonts/roboto/Roboto-Italic.eot')
      format('embedded-opentype'),
    url('/donde-comprar-chip-app/fonts/roboto/Roboto-Italic.otf')
      format('opentype'),
    url('/donde-comprar-chip-app/fonts/roboto/Roboto-Italic.svg') format('svg');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto-Light';
  src:
    local('Roboto-Light'),
    url('/donde-comprar-chip-app/fonts/roboto/roboto-light-webfont.ttf')
      format('truetype'),
    url('/donde-comprar-chip-app/fonts/roboto/roboto-light-webfont.woff')
      format('woff'),
    url('/donde-comprar-chip-app/fonts/roboto/roboto-light-webfont.eot')
      format('opentype'),
    url('/donde-comprar-chip-app/fonts/roboto/roboto-light-webfont.svg')
      format('svg');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto-Medium';
  src:
    local('Roboto-Medium'),
    url('/donde-comprar-chip-app/fonts/roboto/roboto-medium-webfont.ttf')
      format('truetype'),
    url('/donde-comprar-chip-app/fonts/roboto/roboto-medium-webfont.woff')
      format('woff'),
    url('/donde-comprar-chip-app/fonts/roboto/roboto-medium-webfont.eot')
      format('embedded-opentype'),
    url('/donde-comprar-chip-app/fonts/roboto/roboto-medium-webfont.svg')
      format('svg');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto-Bold';
  src:
    local('Roboto-Bold'),
    url('/donde-comprar-chip-app/fonts/roboto/roboto-bold-webfont.ttf')
      format('truetype'),
    url('/donde-comprar-chip-app/fonts/roboto/roboto-bold-webfont.woff')
      format('woff'),
    url('/donde-comprar-chip-app/fonts/roboto/roboto-bold-webfont.eot')
      format('embedded-opentype'),
    url('/donde-comprar-chip-app/fonts/roboto/roboto-bold-webfont.svg')
      format('svg');
}

@font-face {
  font-display: swap;
  font-family: 'Pulso-Regular';
  src:
    local('Pulso-Regular'),
    url('/donde-comprar-chip-app/fonts/pulso/Pulso-Regular.ttf')
      format('truetype'),
    url('/donde-comprar-chip-app/fonts/pulso/Pulso-Regular.woff2')
      format('woff2'),
    url('/donde-comprar-chip-app/fonts/pulso/Pulso-Regular.otf')
      format('opentype');
}

@font-face {
  font-display: swap;
  font-family: 'Pulso-Light';
  src:
    local('Pulso-Light'),
    url('/donde-comprar-chip-app/fonts/pulso/Pulso-Light.ttf')
      format('truetype'),
    url('/donde-comprar-chip-app/fonts/pulso/Pulso-Light.woff2') format('woff2'),
    url('/donde-comprar-chip-app/fonts/pulso/Pulso-Light.otf')
      format('opentype');
}
