$font-family-lato-light: var(--lato-light), sans-serif;
$font-family-lato-regular: var(--lato-regular), sans-serif;
$font-family-lato-bold: var(--lato-bold), sans-serif;
$font-family-roboto-light: var(--roboto-light), sans-serif;
$font-family-roboto-regular: var(--roboto-regular), sans-serif;
$font-family-roboto-medium: var(--roboto-medium), sans-serif;
$font-family-roboto-bold: var(--roboto-bold), sans-serif;
$font-family-pulso-light: var(--pulso-light), sans-serif;
$font-family-pulso-regular: var(--pulso-regular), sans-serif;

html {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  background-color: $infrastructure-interfaz;
}

body {
  position: relative;
  min-height: 100%;
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button:focus {
  background-color: $primary-active;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
}
