$font-family-roboto-regular: "Roboto-Regular", sans-serif;
$font-family-roboto-italic: "Roboto-Italic", sans-serif;
$font-family-roboto-light: "Roboto-Light", sans-serif;
$font-family-roboto-medium: "Roboto-Medium", sans-serif;
$font-family-roboto-bold: "Roboto-Bold", sans-serif;
$font-family-pulso-light: "Pulso-Light", sans-serif;
$font-family-pulso-regular: "Pulso-Regular", sans-serif;

/* Breakpoints */
// This are general breakpoints for almost all browsers
$mobileDevice: 360px;
$tabletDevice: 768px;
$desktopDevice: 992px;

$mobileDeviceUp: 360px;
$tabletDeviceUp: 768px;
$desktopDeviceUp: 992px;
$mobileDeviceDown: 359.9px;
$tabletDeviceDown: 767.9px;
$desktopDeviceDown: 991.9px;

$mobileMax: 767px;
$tabletMin: 768px;
$tabletMax: 1023px;
$desktopMin: 1024px;


$screen-sm-min: 576px;
// Use wisely avoiding overwriting rules on mediaqueries
// use this mixins in scss files like this way  : "@include isMobile { padding: 0 20px;}"

// Small devices
@mixin isMobile {
  @media (max-width: #{$mobileMax}) {
    @content;
  }
}

// Medium devices like Tablets and Down
@mixin isTabletAndDown {
  @media (max-width: #{$tabletMax}) {
    @content;
  }
}

// Medium devices like Tablets
@mixin isTablet {
  @media (min-width: #{$tabletMin}) and (max-width: #{$tabletMax}) {
    @content;
  }
}

// Medium devices like Tablets and Up
@mixin isTabletAndUp {
  @media (min-width: #{$tabletMax}) {
    @content;
  }
}

// Large devices
@mixin isDesktop {
  @media (min-width: #{$desktopMin}) {
    @content;
  }
}

.hide-on-small-only {
  @include isMobile {
    display: none !important;
  }

  @include isTablet {
    display: none !important;
  }
}

.hide-on-small-and-down {
  @include isMobile {
    display: none !important;
  }
}

.hide-on-med-and-down {
  @include isMobile {
    display: none !important;
  }

  @include isTablet {
    display: none !important;
  }
}

.hide-on-med-and-up {
  @include isTabletAndUp() {
    display: none !important;
  }
}

.hide-on-med-only {
  @media only screen and (min-width: #{$mobileDeviceUp}) and (max-width: #{$desktopDeviceDown}) {
    display: none !important;
  }
}

.hide-on-large-only {
  @include isTabletAndUp {
    display: none !important;
  }
}

.hide-on-extra-large-only {
  @include isDesktop {
    display: none !important;
  }
}

.show-on-extra-large {
  @include isDesktop {
    display: block !important;
  }
}

.show-on-large {
  @include isTabletAndUp {
    display: block !important;
  }
}

.show-on-medium {
  @media only screen and (min-width: #{$mobileDeviceUp}) and (max-width: #{$tabletDeviceDown}) {
    display: block !important;
  }
}

.show-on-small {
  @include isMobile {
    display: block !important;
  }
  @include isTablet {
    display: block !important;
  }
}

.show-on-medium-and-up {
  @include isTabletAndUp {
    display: block !important;
  }
}

.show-on-medium-and-down {
  @include isTabletAndDown {
    display: block !important;
  }
}

// Font's color, size and line-height
@mixin fontStyle($color, $font-size, $line-height) {
  color: $color;
  font-size: $font-size;
  line-height: $line-height;
}
